In [1]:
class Salary:
    def __init__(self,pay,bonus):
        self.pay = pay
        self.bonus = bonus
    def salary(self):
        return (self.pay*12)+self.bonus
    
class Employee:
    def __init__(self,name,age,pay,bonus):
        self.name = name
        self.age = age
        self.obj_salary = Salary(pay,bonus)
    def total_salary(self):
        return self.obj_salary.salary()

In [4]:
emp1 = Employee("Abdullah",22,12000,3000)
emp1.total_salary()

147000

In [6]:
emp2 = Employee("Faraz",25,23000,6000)
emp2.total_salary()

282000