In [19]:
class Student:
    def __init__(self,Name,Age,Qualification):
        self.__name = Name
        self.__age = Age
        self.__qualification = Qualification

    def info(self):
        print(f"Student name is ({self.__name}) and age is ({self.__age}) and qualification is ({self.__qualification})")

    def get_name(self):
        return self.__name
    def set_name(self,name):
        self.__name = name

In [20]:
obj = Student("Abdullah khan kakar",23,"Intermediate")

In [21]:
obj._Student__name = "Ali"

In [22]:
obj.get_name()

'Ali'

In [23]:
obj.__name = "Haider"

In [24]:
obj.get_name()

'Ali'

In [25]:
obj.set_name("Shafiq khan")

In [26]:
obj.get_name()

'Shafiq khan'

In [27]:
obj.info()

Student name is (Shafiq khan) and age is (23) and qualification is (Intermediate)

In [28]:
nm = obj.__name
nm

'Haider'

## Example

In [32]:
class Time:
    def __init__(self,hour,minute):
        self.hour = hour
        self.minute = minute
        self.set_hour(hour)
        self.set_minute(minute)
        self.info()
        
    def set_hour(self,hour):
        if 0<=hour<=24:
            self.hour = hour
        else:
            print("Invalid hour value")
            
    def set_minute(self,minute):
        if 0<=minute<=60:
            self.minute = minute
        else:
            print("Invalid minute value")
            
    def info(self):
        print(f"Hours are : ({self.hour}) and minutes are ({self.minute})")

In [33]:
obj = Time(12,45)

Hours are : (12) and minutes are (45)

In [35]:
obj2 = Time(25,30)

Invalid hour value
Hours are : (25) and minutes are (30)

In [36]:
type(obj)

__main__.Time

In [37]:
id(obj)

2368943837392

In [38]:
id(obj2)

2368943776592

In [39]:
obj.now = "ah"

In [40]:
obj.now

'ah'

In [76]:
class Greet:
    def Ali(self):
        self.name = "Muhammad Faraz"
        self.classs = "Matrix"
        
    def Haiderr(self):
        self.Ali()
        print(f"Class of {self.name} is {self.classs}")

In [77]:
hd = Greet()

In [78]:
hd.Haiderr()

Class of Muhammad Faraz is Matrix

In [59]:
hd.Haiderr()

name

In [72]:
class Test:
    pass
 
t1 = Test()
t2 = Test()
# print(t1 == t2, end=' ')
print(type(t1) == type(t2), end=' ')

True

In [84]:
class Test:
    
    def method1(self, x):
        self.x = x

    def method2(self):
        self.x += 10  # Corrected to self.x

    def display(self):
        print(self.x)

t = Test()
t.method1(5)
t.method2()
t.display()

15

In [91]:
class BankAccount:
    def set_details(self,name,balance=0):
        self.name = name
        self.balance = balance
    def display(self):
        print(f"Name is ({self.name}) and balance is ({self.balance})")
    def withdraw(self,amount):
        if amount<=self.balance:
            self.balance -= amount
            print(f"successfully withdraw Rs/.{amount}")
        else:
            print("invalid balance")
    def deposit(self,amount):
        self.balance += amount
        print(f"successfully deposited Rs./{amount}")

In [92]:
p1 = BankAccount()
p1.set_details("Abdullah khan kakar")
p1.display()
p1.deposit(45000)
p1.withdraw(2000)

Name is (Abdullah khan kakar) and balance is (0)
successfully deposited Rs./45000
successfully withdraw Rs/.2000

In [93]:
p1.display()

Name is (Abdullah khan kakar) and balance is (43000)

In [94]:
p1.withdraw(23000)

successfully withdraw Rs/.23000

In [95]:
p1.display()

Name is (Abdullah khan kakar) and balance is (20000)

In [112]:
class Atm:
    def __init__(self):
        self.__age = 12
    def set_details(self):
        self.__name="Ali khan"
        self.calss="Matric"
    def info(self):
        print(f"{self.__name} and {self.calss}")
    def get_age(self):
        return self.__age

In [113]:
p1 = Atm()
p1.set_details()
p1.info()

Ali khan and Matric

In [116]:
p1._Atm__age = 19

In [117]:
p1.get_age()

19

In [119]:
p1.__age

AttributeError: 'Atm' object has no attribute '__age'